In [1]:
"""
Setup notebook with pandas and pulling CSV file into a DataFrame
"""
import pandas as pd

myDF = pd.read_csv('museums.csv', low_memory=False)

In [22]:
# See beginning and end of data frame
# First 5 rows
myDF.head()

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,NaN,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,NaN,9711 KENAI SPUR HWY,KENAI,AK,99611,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,214 BIRCH STREET,KENAI,AK,99611,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0

In [ ]:
# Last 5 rows
myDF.tail()

In [ ]:
# First 5 and Last 5
myDF

In [ ]:
# Shows all of the columns
myDF.info()

In [33]:
# Question 4 - How many zoos are there in the USA?
t = myDF['Museum Type'].unique()
t_list = t.tolist()
# ZOO, AQUARIUM, OR WILDLIFE CONSERVATION

total_zoos = (myDF['Museum Type']=='ZOO, AQUARIUM, OR WILDLIFE CONSERVATION')
total_zoos.sum()

564

In [34]:
# Get the total of ZOOS, AQUARAIUMS (also including AQUATIC as aquarium)
def findType(kind: str):
    zoos = 0
    for n in myDF['Museum Name']:
        if n.find(kind) != -1:
            zoos += 1
    return zoos

    return n

print(findType('ZOO'))
print(findType('AQUARIUM'))
print(findType('AQUATIC'))

289
111
5

In [ ]:
# Getting total example
# total = 0
# [total := total + x for x in [1,2,3,4,5]]

A second function that will count by substring found in string from Museum Name series

In [38]:
def newFindType(kind):
    return len([n for n in myDF['Museum Name'] if n.find(kind) != -1])

print(newFindType('ZOO'))

289

In [40]:
# Find the max revenue museum
rev = myDF['Revenue'].max()
print(rev)
# Can directly print it with formatted string
print(f'value: {myDF['Revenue'].max()}')

5840349457.0
value: 5840349457.0

In [41]:
# Which row (index location) has the max reveneue (iloc)
myDF[['Revenue']].idxmax()

Revenue    1090
dtype: int64

In [42]:
myDF.iloc[1090]

Museum ID                                                                   8409500460
Museum Name                                          FRED LAWRENCE WHIPPLE OBSERVATORY
Legal Name                                    PRESIDENT AND FELLOWS OF HARVARD COLLEGE
Alternate Name                                                                     NaN
Museum Type                                 SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM
Institution Name                                                    HARVARD UNIVERSITY
Street Address (Administrative Location)                             670 MT HOPKINS RD
City (Administrative Location)                                                   AMADO
State (Administrative Location)                                                     AZ
Zip Code (Administrative Location)                                                2138
Street Address (Physical Location)                                                 NaN
City (Physical Location)                                                           NaN
State (Physical Location)                                                          NaN
Zip Code (Physical Location)                                                       NaN
Phone Number                                                                       NaN
Latitude                                                                      42.36977
Longitude                                                                    -71.11216
Locale Code (NCES)                                                                 1.0
County Code (FIPS)                                                                17.0
State Code (FIPS)                                                                 25.0
Region Code (AAM)                                                                    1
Employer ID Number                                                            42103580
Tax Period                                                                    201306.0
Income                                                                   83181439574.0
Revenue                                                                   5840349457.0
Name: 1090, dtype: object

In [ ]:
myDFZoos = myDF[myDF['Museum Type'] == 'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION']

In [44]:
# These are all broken now. 
def descMuseumType(mtype):
    s = myDF[(myDF['Museum Type']==mtype)]
    print('\nResult for ', mtype)
    print('\nRevenue',s['Revenue'].mean())
    print('\nIncome',s['Income'].mean())

museum_type_list = myDF['Museum Type'].unique().tolist()
for museum in museum_type_list:
    descMuseumType(museum)

Result for  HISTORY MUSEUM

Revenue 9402442.005914243

Income 16963110.9820246

Result for  ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER

Revenue 77879222.32479784

Income 480720809.7409794

Result for  SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM

Revenue 114309309.28398058

Income 956181258.8830549

Result for  HISTORIC PRESERVATION

Revenue 2035601.9049426587

Income 9473738.8984375

Result for  GENERAL MUSEUM

Revenue 27402841.554976422

Income 177269468.87586686

Result for  ZOO, AQUARIUM, OR WILDLIFE CONSERVATION

Revenue 5483602.044520548

Income 6452932.625827814

Result for  ART MUSEUM

Revenue 100787436.65130152

Income 322314625.044596

Result for  CHILDREN'S MUSEUM

Revenue 1355363.6276923076

Income 1963783.0121212122

Result for  NATURAL HISTORY MUSEUM

Revenue 85498323.85531914

Income 589846147.3852459